@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


div{
    
    background-color: rgb(60, 179, 113);
    width: 500px;
    border-radius: 15px;
} 
p{
    padding: 10px;
    margin-top: 10px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 1px solid #ECE3CE;
    border-radius: 30px;
    background-color: #ECE3CE;
}